<html>

<body>


<table width = "100%">
    <tr width = "100%">
        <td align="left"><img src ="https://s3.amazonaws.com/freebiesupply/large/2x/chase-logo-transparent.png" alt="Chase logo" style="width:300px; align:left;"></td>
        <td align="right"><img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpmITlCDJJ-MD29drbWi0F0327oldJGVl6bo2R7yP67guBdTxljg" alt="Crystal ball" style="width:300px; align:right;"></td>
    </tr>
</table>
<br>
<br>
<form onsubmit="" action = "" method="POST">
    Mac Address:
    <br>
    <input type="text" name="macaddress" value="00:00:00:00:00">
    <input type="text" name="song" value="jpmc.mp3s">

    <input type="submit" name="macaddress" value="Submit">
</form>

</body>
</html>